@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;  
    margin:0;
    padding:0;
    color:#555555;
}

header{
    background-color: #2E948A;
    display: flex;
    gap:50%;
    align-items: center;
    padding:1% 0 1% 0;
    width:100%;
}

.container-logo{
    width:20%;
    margin-left:3%;
}

.menu-itens-link{
    text-decoration: none;
    color:white;
}

.menu{
    list-style: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    display:flex;
    justify-content: flex-end;
    gap:20%;
    margin-right:-10%;
}



main{
    margin-bottom:15%;
    width:100%;
    max-width: 1440px;
}

#titulo-pagina{
    font-size: 60px;
    color:#FF4081;
    font-weight: 700;
    margin:0;
    padding:0;
    margin-top:5%;
    margin-left:5%;
}

#subtitulo-pagina{
    font-size:20px;
    font-weight: 400;
    margin:0;
    padding:0;
    margin-left:5%;
    margin-bottom: 7%;
}

.lista-cursos{
    display:flex;
    flex-direction: column;
    margin-left:5%;
    gap:50px;
}

.curso{
    display: flex;
    gap:5%;
    width:95%;
    align-items: flex-start;
}

.curso-titulo{
    font-size: 35px;
    font-weight: 700;
    color:#FF4081;
    margin-bottom:6%;
}

.curso-exp{
    font-size:17px;
    font-weight: 300;
    margin-bottom:10%;
}

.curso-botao{
    background-color:  #419488;
    border-radius: 40px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 400;
    padding: 1.2% 4.5%;
}

hr{
    border:0;
    border-top: solid 5px #C4C4C4;
    width: 95%;
    margin:0
}

footer{
    background-color: #2E948A; 
    width:100%;
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    padding:3% 0;
    
}

.container-logo-footer{
    width:20%;
    margin-left: -3%;
    
}

.menu-itens-f-link{
    text-decoration: none;
    color: white;
}

.menu-f{
    list-style: none;
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
    width:20%;
}

.saida-rodape{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:13px;
    width:20%;
}

#rodape-um{
    color:white;
    text-decoration: none;
    padding:3% 20%;
    border: solid white 1px;
    border-radius: 20px;
}

#rodape-dois{
    color:white;
    text-decoration: none;
    padding:3% 13.5%;
    border: solid white 1px;
    border-radius: 20px;
}


@media only screen and (max-width:480px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:5%;
        font-size: 15px;
    }


    #titulo-pagina{
        font-size: 40px;
        width:90%;
        margin-left:15%;
    }

    #subtitulo-pagina{
        margin-bottom: 15%;
        width:70%;
        margin-left:15%;
    }

    .curso-titulo{
        font-size: 25px;
    }

    .curso{
        flex-direction: column;
    }

    .curso-img{
        max-width:80%;
        max-height: 80%;
    }

    .img-c{
        max-width:100%;
        max-height: 100%;
        margin-left: 10%;    
    }

    .curso-texto{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:90%;
    }


    footer{
        flex-direction: column;
        margin-top:40%;
        width:100%;
    }

    .container-logo-footer{
        width:100%;
        display:block;
        margin: 0 auto;
        text-align: center;
    }
    

    .nav-footer{
        width:100%
    }

    .menu-f{
        flex-direction: row;
        margin:0;
        padding:0;
        justify-content: center;
        width:100%;
        gap: 3%;
        padding: 4% 0;
    }

    .saida-rodape{
        width:70%;
    }

    .rodape-um,.rodape-dois{
        font-size: 20px;
        text-align: center;
    }

}



@media only screen and  (min-width: 481px) and (max-width: 1024px){

    header{
        flex-direction: column;
        justify-content: center;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:10%;
        font-size: 20px;
    }

    footer{
        gap:10px;
        justify-content: space-between;
    }

    .saida-rodape{
        width:30%;
        font-size:15px;
    }

    .container-logo-footer{
        width:35%;
        margin:0;
        padding: 0 0 0 2%;
    }

    .menu-f{
        width:20%
    }

}