@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;  
    margin:0;
    padding:0;
    color:#555555;
}

header{
    background-color: #2E948A;
    display: flex;
    gap:50%;
    align-items: center;
    padding:1% 0 1% 0;
    width:100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.container-logo{
    width:20%;
    margin-left:3%;
}

.menu-itens-link{
    text-decoration: none;
    color:white;
    transition: 300ms;
}

.menu-itens-link:hover{
    font-size:23px;
}

.menu{
    list-style: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    display:flex;
    justify-content: flex-end;
    gap:20%;
    margin-right:-10%;
}


main{
    width:100%;
    max-width: 1440px;
}

.parte-um{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:10%;
}

.titulo-pagina{
    font-size: 60px;
    color:#FF4081;
}

.subtitulo-pagina{
    font-size: 27px;
}

.botao-principal{
    color:#FF4081;
    font-size: 27px;
    text-decoration: none;
    border: solid 1px #FF4081;
    border-radius: 20px;
    padding:1% 3%;
    transition: 300ms;
}

.botao-principal:hover{
    color:white;
    background-color: #FF4081;
    font-size: 22px;
}

.foto-principal{
    margin-top:8%;
}

.texto-principal{
    margin-top:5%;
}

.parte-dois{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    gap:2%;
    flex-wrap: wrap;
    padding:6% 0 0 0;
    margin-top:60px;
}

.foto-curso-um,.foto-curso-dois{
    width:50%;
    margin-bottom: 20px;
}

.foto-curso-tres{
    width:38.5%;
    margin-bottom: 20px;
}

.cursos{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width:290px;
}

.titulo-curso-um, .titulo-curso-dois, .titulo-curso-tres{
    color:#FF4081;
    font-size:25px;
    text-align: center;
}

.titulo-curso-um{
    margin: 20.750px 0;
}

.titulo-curso-dois{
    margin: 20.750px 35px;
}

.titulo-curso-tres{
    margin-left: 15px;
    margin-right: 15px;
}

.subtitulo-curso{
    text-align: center;
    font-size: 17px;
}

.botao-curso{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF4081;
    border: solid 1px  #FF4081;
    border-radius: 30px;
    padding:4% 13%;
    margin-top:15px;
    margin-bottom: 20%;
    transition: 300ms;
}

.botao-curso:hover{
    color:#FF4081;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
}


.parte-tres{
    width:100%;
}

.titulo-depo{
    color:#009688;
    font-size: 27px;
    margin:0;
    padding: 5% 0 2% 8%;
}

.grupo-depo{
    max-width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 7%;
    margin-left:5%;
}

.depoimentos{
    width: 45%;
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4%;
    padding: 4% 3% 2% 1%;
    min-width:500px;
}

.depo,.nome-depo{
    font-size:18px;
    margin:0;
}

.nome-depo{
    margin-top: 15px;
}

.texto-depo{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    max-width:75%;
}

.foto-depo{
    max-width:20%;
}

.parte-quatro{
    background-color: #F6F6F6;
    padding: 0 0 7% 0;
}

.container-conteudo{
    display: flex;
    justify-content: space-around;
    padding: 3% 0 0 3%;
    flex-wrap: wrap;
}

.conteudo-extra{
    margin-bottom: 10%;
}

.titulo-extra{
    color:#009688;
    font-size: 22px;
    font-weight: 700;
    margin:0;
    margin-top: 3%;
}

.texto-extra{
    margin:0;
    font-size: 18px;
}


.botao-extra{
    color:#FF4081;
    font-size: 25px;
    text-decoration: none;
    display: block;
    margin:0 auto;
    text-align: center;
    width: 20%;
    border: solid 1px #FF4081;
    border-radius: 40px;
    padding: 0.5% 3%;
}

.botao-extra:hover{
    color:white;
    background-color: #FF4081;
}


footer{
    background-color: #2E948A; 
    width:100%;
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    padding:3% 0;
    
}

.container-logo-footer{
    width:20%;
    margin-left: -3%;
    
}

.menu-itens-f-link{
    text-decoration: none;
    color: white;
}

.menu-f{
    list-style: none;
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
    width:20%;
}


.saida-rodape{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:13px;
    width:20%;
}

#rodape-um{
    color:white;
    text-decoration: none;
    padding:3% 20%;
    border: solid white 1px;
    border-radius: 20px;
}

#rodape-dois{
    color:white;
    text-decoration: none;
    padding:3% 13.5%;
    border: solid white 1px;
    border-radius: 20px;
}



@media only screen and (max-width:480px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:5%;
        font-size: 15px;
    }

    .foto-principal{
        display:none;
    }

    .titulo-pagina{
        font-size: 40px;
    }

    .subtitulo-pagina{
        font-size: 20px;
    }

    .botao-principal{
        font-size: 15px;
    }

    .parte-dois{
        flex-direction: column;
        justify-content: space-between;
        padding: 10% 0;
    }

    .cursos{
        margin-bottom:10%;
        min-width:0;
    }

    .subtitulo-curso, .titulo-curso{
        text-align: center;
        width:92%;
    }

    .botao-curso{
        font-size: 15px;
        padding: 2% 5%;
    }


    .titulo-depo{
        font-size: 30px;
        width:80%;
    }

    .grupo-depo{
        margin:0;
        padding:0;
        display: flex;
        flex-wrap: nowrap;
        width:100%;
        flex-direction: column;
        justify-items: center;
    }

    .depoimentos{
        flex-direction: column;
        justify-content: center;
        width:100%;
        padding: 10% 0;
        min-width: 0;
    }

    .foto-depo{
        display: block;
        margin:0 auto;
        text-align: center;
    }

    .texto-depo{
        display: block;
        margin:0 auto;
        text-align: center;
        width:92%;

    }

    .container-conteudo{
        flex-direction: column;
        justify-content: center;
        width:92%;
        padding: 10% 4%;
    }

    .conteudo-extra{
        display: block;
        margin:0 auto;
        text-align: center;
        margin-bottom: 5%;
        width:92%;
    }

    .botao-extra{
        font-size:20px;
        width:50%;
    }

    .conteudo-img{
        width:92%;
    }

    footer{
        flex-direction: column;
    }

    .container-logo-footer{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:100%;
    }

    .nav-footer{
        width:100%
    }

    .menu-f{
        flex-direction: row;
        margin:0;
        padding:0;
        justify-content: center;
        width:100%;
        gap: 3%;
        padding: 4% 0;
    }

    .saida-rodape{
        width:70%;
    }

    .rodape-um,.rodape-dois{
        font-size: 20px;
        text-align: center;
    }

}

@media only screen and  (min-width: 481px) and (max-width: 1024px){

    .foto-principal{
        display:none;
    }


    .botao-extra{
        font-size:20px;
        width:30%;
    }


    header{
        flex-direction: column;
        justify-content: center;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:10%;
        font-size: 20px;
    }

    .titulo-extra,.texto-extra{
        width:92%;        
    }

    .subtitulo-curso, .titulo-curso{
        text-align: center;
        width:92%;
    }

    .depoimentos{
        min-width: 0;
        width: 90%;
        justify-content: center;
    }

    .cursos{
        min-width: 0;
        
    }

    footer{
        gap:10px;
        justify-content: space-between;
    }

    .saida-rodape{
        width:30%;
        font-size:15px;
    }

    .container-logo-footer{
        width:35%;
        margin:0;
        padding: 0 0 0 2%;
    }

    .menu-f{
        width:20%
    }

} 