@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;  
    margin:0;
    padding:0;
}

header{
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1%;
    width:100%;
}

.container-logo{
    width:20%;
    margin-left:3%;
}

.menu{
    list-style: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    width: 20%;
    display:flex;
    justify-content: flex-end;
    gap:50%;
}


main{
    width:100%;
}

.parte-um{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:10%;
}

.titulo-pagina{
    font-size: 60px;
    color:#FF4081;
}

.subtitulo-pagina{
    font-size: 27px;
}

.botao-principal{
    color:#FF4081;
    font-size: 27px;
    text-decoration: none;
    border: solid 1px #FF4081;
    border-radius: 20px;
    padding:1% 3%;
}

.foto-principal{
    margin-top:8%;
}

.texto-principal{
    margin-top:5%;
}

.parte-dois{
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    padding:6%;
    margin-top:60px;
    gap:%;
}

.foto-curso-um,.foto-curso-dois{
    width:50%;
    margin-bottom: 20px;
}

.foto-curso-tres{
    width:38.5%;
    margin-bottom: 20px;
}

.cursos{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titulo-curso{
    color:#FF4081;
    font-size:25px;
}

.subtitulo-curso{
    text-align: center;
    font-size: 17px;
}

.botao-curso{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF4081;
    border: solid 1px  #FF4081;
    border-radius: 30px;
    padding:4% 13%;
    margin-top:15px;
}





footer{
    background-color: #2E948A; 
    width:100%;
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    padding:3% 0;
    
}

.container-logo-footer{
    width:20%;
    margin-left: -3%;
    
}

.menu-f{
    list-style: none;
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
    width:20%;
}

.saida-rodape{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:13px;
    width:20%;
}

#rodape-um{
    color:white;
    text-decoration: none;
    padding:3% 20%;
    border: solid white 1px;
    border-radius: 20px;
}

#rodape-dois{
    color:white;
    text-decoration: none;
    padding:3% 13.5%;
    border: solid white 1px;
    border-radius: 20px;
}

