@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;  
    margin:0;
    padding:0;
    color:#555555;
}

header{
    background-color: #2E948A;
    display: flex;
    gap:50%;
    align-items: center;
    padding:1% 0 1% 0;
    width:100%;
}

.container-logo{
    width:20%;
    margin-left:3%;
}

.menu-itens-link{
    text-decoration: none;
    color:white;
}

.menu{
    list-style: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    display:flex;
    justify-content: flex-end;
    gap:20%;
    margin-right:-10%;
}

main{
    max-width: 1440px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15% 10% 15%;

}

#titulo-pagina,#subtitulo-pagina,#foto-post{
    text-align: center;
    margin: 0 auto;
}

.foto{
    max-width: 100%;
    margin-bottom: 6%;
}

#titulo-pagina{
    font-size:50px;
    color:#FF4081;
    margin:0;
    padding:0;
    margin-top:10%;
}

#subtitulo-pagina{
    color:#9D9D9D;
    font-size:18px;
    margin:0;
    padding:0;
    font-weight: 300;
    margin-bottom: 8%;
}

.texto-pagina{
    font-size: 20px;
    margin:0;
    padding: 0;
    margin-bottom: 2%;  
}

.subtitulo-post{
    font-size:26px;
    color:#2E948A;
    margin:0;
    padding: 0;
    margin-bottom: 2.5%; 
    margin-top:6%;
}


aside{
    background-color: #F6F6F6;
}

#titulo-aside{
    color:#FF4081;
    font-size:50px;
    margin: 0 auto;
    text-align: center;
    padding: 4% 0 0 0;
    line-height: 57,45px;
}

#aside-conteudo{
    display: flex;
    justify-content: space-around;
    padding:6%;
   
}

.foto-curso-um,.foto-curso-dois{
    width:50%;
    margin-bottom: 20px;
}

.foto-curso-tres{
    width:38.5%;
    margin-bottom: 20px;
}

.cursos{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titulo-curso{
    color:#FF4081;
    font-size:25px;
    text-align: center;
}

.subtitulo-curso{
    text-align: center;
    font-size: 17px;
}

.botao-curso{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF4081;
    border: solid 1px  #FF4081;
    border-radius: 30px;
    padding:4% 13%;
    margin-top:15px;
}


footer{
    background-color: #2E948A; 
    width:100%;
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    padding:3% 0;
    
}

.container-logo-footer{
    width:20%;
    margin-left: -3%;
    
}

.menu-itens-f-link{
    text-decoration: none;
    color: white;
}

.menu-f{
    list-style: none;
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
    width:20%;
}

.saida-rodape{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:13px;
    width:20%;
}

#rodape-um{
    color:white;
    text-decoration: none;
    padding:3% 20%;
    border: solid white 1px;
    border-radius: 20px;
}

#rodape-dois{
    color:white;
    text-decoration: none;
    padding:3% 13.5%;
    border: solid white 1px;
    border-radius: 20px;
}


@media only screen and (max-width:480px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:5%;
        font-size: 15px;
    }

    article{
        padding:2% 5%;
        margin:0;
        width:90%;
    }

    #titulo-pagina{
        font-size: 30px;
    }

    #subtitulo-pagina{
        font-size: 15px;
    }

    .subtitulo-post{
        font-size:25px;
    }

    #aside-conteudo{
        flex-direction: column;
        justify-content: space-between;
        padding: 10% 0;
    }

    #titulo-aside{
        font-size:37px;
        padding: 10% 0;
        width:90%;
    }

    .cursos{
        margin-bottom:10%;
    }

    .subtitulo-curso, .titulo-curso{
        text-align: center;
        width:92%;
    }

    .botao-curso{
        font-size: 15px;
        padding: 2% 5%;
    }


    footer{
        flex-direction: column;
    }

    .container-logo-footer{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:100%;
    }

    .nav-footer{
        width:100%
    }

    .menu-f{
        flex-direction: row;
        margin:0;
        padding:0;
        justify-content: center;
        width:100%;
        gap: 3%;
        padding: 4% 0;
    }

    .saida-rodape{
        width:70%;
    }

    .rodape-um,.rodape-dois{
        font-size: 20px;
        text-align: center;
    }

}


@media only screen and  (min-width: 481px) and (max-width: 1024px){

    header{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 7%;
    }

    .container-logo{
        display:block;
        margin: 0 auto;
        text-align: center;
        width:80%;
    }

    .menu{
        justify-content: center;
        width:100%;
        margin:0;
        padding: 4% 0;
        gap:10%;
        font-size: 20px;
    }
 
    .subtitulo-curso, .titulo-curso{
        text-align: center;
        width:92%;
    }

    footer{
        margin-top:15%;
        gap:10px;
        justify-content: space-between;
    }

    .saida-rodape{
        width:30%;
        font-size:15px;
    }

    .container-logo-footer{
        width:35%;
        margin:0;
        padding: 0 0 0 2%;
    }

    .menu-f{
        width:20%
    }

}